<h1 class="text-center font-weight-bold">Movimientos</h1>
<form>
  <label for="amountInput">Cantidad</label>
  <input name="stuff" id="amountInput" type="number" [(ngModel)]="newMovementAmount">
  <br>
  <label for="movementType">Tipo de Operación</label>
  <select name="stuff2" id="movementType" [(ngModel)]="newMovementType">
    <option value="INGRESO">Ingreso</option>
    <option value="EGRESO">Egreso</option>
  </select>
  <br>
  <button type="submit" (click)="addNewMovement()">Agregar</button>
</form>
<hr>

<h1>Historial de movimientos</h1>
<div *ngFor="let movement of movements">
  <p [class.red]="movement.type == 'EGRESO'"
     [class.green]="movement.type == 'INGRESO'"> {{ movement.amount | currency }}</p>
  <p> {{ movement.date | date:'long' }}</p>
</div>

<hr>
<h1>Totales</h1>
<h2>Subtotal Ingresos: <b class="green">{{ totalIncome | currency }}</b></h2>
<h2>Subtotal Egresos: <b class="red">{{ totalExpenses | currency }}</b></h2>
<h2>Total: <b [className]="total >= 0 ? 'green': 'red'">{{ total | currency }}</b></h2>

<router-outlet></router-outlet>
